language: java
sudo: false
install: true

git:
  depth: false

addons:
  sonarcloud:
    organization: 'arassec'

jdk:
  - openjdk12

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'

before_install:
  - chmod +x mvnw

script:
  - ./mvnw clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=arassec_igor

deploy:
  provider: script
  script: ./mvnw clean install -Prelease
  on:
    tags: true
