language: java
sudo: false
install: true

git:
  depth: false

addons:
  sonarcloud:
    organization: 'arassec'

jdk:
  - openjdk11

cache:
  directories:
    - '$HOME/.m2'
    - '$HOME/.sonar/cache'

before_install:
  - chmod +x mvnw
  - echo $GPG_SECRET_KEYS | base64 --decode | $GPG_EXECUTABLE --import --no-tty --batch
  - echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --import-ownertrust

script:
  - ./mvnw clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=arassec_igor

deploy:
  - provider: script
    script: ./mvnw clean deploy --settings .mvn/settings.xml -Prelease -Drevision=$TRAVIS_TAG -DskipTests=true
    on:
      branch: master
      tags: true
  - provider: releases
    api_key: $GITHUB_TOKEN
    file:
      - /home/travis/build/arassec/igor/application/target/igor-$TRAVIS_TAG.jar
    skip_cleanup: true
    name: $TRAVIS_TAG
    on:
      branch: master
      tags: true
  - provider: netlify
    edge: true # opt in to dpl v2
    dir: "documentation/target/doc"
    prod: true
    on:
      branch: master
      tags: true
