language: java
sudo: false
install: true

git:
  depth: false

addons:
  sonarcloud:
    organization: 'arassec'

jdk:
  - openjdk11

cache:
  directories:
    - '$HOME/.m2'
    - '$HOME/.sonar/cache'

before_install:
  - chmod +x mvnw

script:
  - ./mvnw clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=arassec_igor

deploy:
  # Deploy current documentation to github pages
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN
    keep_history: true
    local_dir: documentation/target
    on:
      branch: master
  - provider: script
    script: ./mvnw clean install -Prelease
    on:
      branch: master
      tags: true
