<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Turning down the wiremock logging -->
    <logger name="org.eclipse" level="INFO"/>

    <!-- Turning down Apache Mina logging -->
    <logger name="org.apache" level="INFO"/>

</configuration>