<!DOCTYPE HTML>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/layout :: head ('Igor - Services')"/>

<body>

<div th:include="fragments/layout :: mainmenu (services.title)"/>

<div id="content">

    <table>
        <tr>
            <th>ID</th>
            <th>DESCRIPTION</th>
        </tr>
        <tr th:each="service : ${services}">
            <td th:text="${service.id}">Service-ID</td>
            <td th:text="${service.description}">Service-Description</td>
        </tr>
    </table>

</div>

</body>
</html>