name: Release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:

  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
            fetch-depth: 0
      - name: Set Release Version
        run: echo "RELEASE_VERSION=${GITHUB_REF:11}" >> $GITHUB_ENV
      - name: Set up Apache Maven Central
        uses: actions/setup-java@v1
        with:
          java-version: 17
          server-id: ossrh
          server-username: SONATYPE_USERNAME
          server-password: SONATYPE_PASSWORD
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
      - name: Build and Publish to Apache Maven Central
        run: ./mvnw org.jacoco:jacoco-maven-plugin:prepare-agent clean deploy -Prelease -Drevision=$RELEASE_VERSION --no-transfer-progress
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: igor-standalone/target/igor-standalone-${{ env.RELEASE_VERSION }}.jar
          release_name: 'Version ${{ env.RELEASE_VERSION }}'
          tag: ${{ github.ref }}
          overwrite: true
      - name: Deploy documentation to Github Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: documentation/target/doc
